%div.container
  %table.table.table-striped
    - @teams.each do |team|
      %tr
        %td{ :colspan => 2 }
          %h3= team[:name]

      %tr
        %td
          - team[:assets].each do |asset|
            %p
              %span= asset[:kind]
              %span= asset[:size]
        %td
          - team[:users].each do |user|
            %p
              %span= user.username
